<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.problemsolver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permisssion.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.CAMERA" />
    <uses-permission android:name="android.permisssion.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProblemResultActivity"></activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Organization.FeedOrgActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".ProblemFeed.ProblemPageActivity" />
        <activity android:name=".Organization.NewOrganizationActivity" />
        <activity android:name=".Registration.AreasActivity" />
        <activity android:name=".Registration.RegistrationActivity" />
        <activity android:name=".Problem.NewProblemActivity" />
        <activity android:name=".ProblemFeed.FeedActivity" />
        <activity android:name=".Event.EventActivity" />
        <activity android:name=".Event.EventPageActivity" />
        <activity android:name=".Map.MapActivity" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProblemFeed.SettingsActivity" />
    </application>

</manifest>